<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129462557690-tird0dti7641146tlhastuti5otsaohi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129462557690-tird0dti7641146tlhastuti5otsaohi</string>
	<key>API_KEY</key>
	<string>AIzaSyChTFx5QhF1x0VKl_7OP4bwM13g8V4aaw4</string>
	<key>GCM_SENDER_ID</key>
	<string>129462557690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gallify.Gallify</string>
	<key>PROJECT_ID</key>
	<string>gallify-64bbb</string>
	<key>STORAGE_BUCKET</key>
	<string>gallify-64bbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:129462557690:ios:2afb8090f581526fdda243</string>
</dict>
</plist>
